#headline{
  font-family: Garamond;
  font-weight: normal;
  text-align: center;
  font-size: 700%;
  color: white;
  background-color: black;
}

#links{
  font-family: Garamond;
  font-weight: normal;
  font-size: 200%;
  color: black;

}
